<?xml version="1.0"?>
<config>    
    <modules>
        <Angara_Categoryrelsearch>
            <version>0.1.0</version>
        </Angara_Categoryrelsearch>
    </modules>
	<frontend>
		<routers>
			<categoryrelsearch>
				<use>standard</use>
				<args>
					<module>Angara_Categoryrelsearch</module>
					<frontName>categoryrelsearch</frontName>
				</args>
			</categoryrelsearch>
		</routers>
	</frontend>
	<global>
		<resources>
	        <categoryrelsearch_write>
	            <connection>
	                <use>core_write</use>
	            </connection>
	        </categoryrelsearch_write>
	        <categoryrelsearch_read>
	            <connection>
	                <use>core_read</use>
	            </connection>
	        </categoryrelsearch_read>
			<categoryrelsearch_setup>
		        <setup>
		            <module>Angara_Categoryrelsearch</module>
		            <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		        </setup>
		        <connection>
		            <use>core_setup</use>
		        </connection>
		    </categoryrelsearch_setup>
	    </resources>
	</global>
</config>