<?xml version="1.0"?>
<config>
    <modules>
        <Angara_ShowCase>
            <version>0.1.0</version>
        </Angara_ShowCase>
    </modules>
    <global>
        <blocks>
            <showcase>
                <class>Angara_ShowCase_Block</class>
            </showcase>
        </blocks>
        <helpers>
			<showcase>
				<class>Angara_ShowCase_Helper</class>
			</showcase>
		</helpers>
    </global>
</config>
