<?xml version="1.0"?>
<config>    
    <modules>
        <Angara_Categorybuyguides>
            <version>0.1.0</version>
        </Angara_Categorybuyguides>
    </modules>
	<frontend>
		<routers>
			<categorybuyguides>
				<use>standard</use>
				<args>
					<module>Angara_Categorybuyguides</module>
					<frontName>categorybuyguides</frontName>
				</args>
			</categorybuyguides>
		</routers>
	</frontend>
	<global>
		<resources>
	        <categorybuyguides_write>
	            <connection>
	                <use>core_write</use>
	            </connection>
	        </categorybuyguides_write>
	        <categorybuyguides_read>
	            <connection>
	                <use>core_read</use>
	            </connection>
	        </categorybuyguides_read>
			<categorybuyguides_setup>
		        <setup>
		            <module>Angara_Categorybuyguides</module>
		            <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		        </setup>
		        <connection>
		            <use>core_setup</use>
		        </connection>
		    </categorybuyguides_setup>
	    </resources>
	</global>
</config>