<?xml version="1.0"?>
<config>
  <modules>
    <Angara_Card>
      <version>0.1.1</version>
    </Angara_Card>
  </modules>
  <global>
    <helpers>
      <card>
        <class>Angara_Card_Helper</class>
      </card>
    </helpers>
	<blocks>
	  <card>
		<class>Angara_Card_Block</class>
	  </card>
	</blocks>
	<models>
	  <card>
		<class>Angara_Card_Model</class>
		<resourceModel>card_mysql4</resourceModel>
	  </card>
	  <card_mysql4>
		<class>Angara_Card_Model_Mysql4</class>
		<entities>		  
			  <card>
				<table>angara_card</table>
			  </card>
        </entities>
	  </card_mysql4>
	</models>
	<resources>
	  <card_setup>
		<setup>
		  <module>Angara_Card</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </card_setup>
	  <card_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </card_write>
	  <card_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </card_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <card>
	    <use>admin</use>
		<args>
		  <module>Angara_Card</module>
		  <frontName>admin_card</frontName>
		</args>
	  </card>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <card module="card">
		<title>Card</title>
		<sort_order>100</sort_order>
		<children>
		  <card module="card">
		    <title>Manage Card</title>
			<sort_order>0</sort_order>
			<action>admin_card/adminhtml_card</action>
		  </card>
		</children>
	  </card>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<card translate="title" module="card">
			  <title>Card</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <card translate="title">
			<title>Manage Card</title>
			<sort_order>0</sort_order>
		  </card>
			  </children>
			</card>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<card>
		  <file>card.xml</file>
		</card>
	  </updates>
	</layout>
  </adminhtml>
</config> 