<?xml version="1.0"?>
<config>    
    <modules>
        <Angara_Categoryattributeadd>
            <version>0.1.0</version>
        </Angara_Categoryattributeadd>
    </modules>
	<frontend>
		<routers>
			<categoryattributeadd>
				<use>standard</use>
				<args>
					<module>Angara_Categoryattributeadd</module>
					<frontName>categoryattributeadd</frontName>
				</args>
			</categoryattributeadd>
		</routers>
	</frontend>
	<global>
		<resources>
	        <categoryattributeadd_write>
	            <connection>
	                <use>core_write</use>
	            </connection>
	        </categoryattributeadd_write>
	        <categoryattributeadd_read>
	            <connection>
	                <use>core_read</use>
	            </connection>
	        </categoryattributeadd_read>
			<categoryattributeadd_setup>
		        <setup>
		            <module>Angara_Categoryattributeadd</module>
		            <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		        </setup>
		        <connection>
		            <use>core_setup</use>
		        </connection>
		    </categoryattributeadd_setup>
	    </resources>
	</global>
</config>