<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#wrapper {
	width:600px;
	margin:0 auto;
	background:url('https://www.angara.com/skin/frontend/angara/default/images/emailer/full-bag.jpg') #efe3e3 top left repeat-x;
	border: solid 1px #dbcdcc;
	height:auto;
	padding:15px;
}
ul li
{
	padding-bottom:5px;
	}

ul li span
{
font-weight:normal;	
font-style:italic;
}
-->
</style>
</head>

<body>
<div id="wrapper">
  <table width="568" cellpadding="0" cellspacing="0" border="0" >
  
  
    <tr style="display:block;">
                            <td align="left" valign="middle" width="340" style="padding:5px;"><a href="https://www.angara.com/?utm_source=Email&utm_medium=Email&utm_campaign=New_Account&utm_term={{var customer_email()}}" target="_blank"><img src="http://cdn.angara.com/skin/frontend/ress/default/images/logo.png" border="0" align="" alt="Angara - The Gemstone Destination", title="Angara - The Gemstone Destination"></a></td>
                            <td width="234" align="right" style="padding:5px;">
                               <p style="margin:0;font-size:14px"><a href="https://server.iad.liveperson.net/hc/609151/?cmd=file&file=visitorWantsToChat&site=609151&byhref=1&imageUrl=https://server.iad.liveperson.nethttps://www.angara.comhttps://www.angara.com/store/images/lp/?track=head" style="color:#d0471a;font-family:'Arial','sans-serif';" title="Live Chat" target="_blank"><b>Live Chat</b></a> | <a href="https://www.angara.com/contact-us?utm_source=Email&utm_medium=Email&utm_campaign=New_Account&utm_term={{var customer_email()}}" style="color:#d0471a;font-family:'Arial','sans-serif';" title="1-888-926-4272" target="_blank"><b>1-888-926-4272</b></a><br /><br />
                              
                              <a href="https://www.facebook.com/Angaradotcom" style="outline:none;border:none"><img src="http://cdn.angara.com/promotions/Email/Feb/facebook.png" title="Angara on Facebook" alt="Angara on Facebook" border="0" ></a>&nbsp;
                              <a href="https://www.pinterest.com/angarajewelry/" style="outline:none;border:none"><img src="http://cdn.angara.com/promotions/Email/Feb/pinterest.png" title="Angara on Pinterest" alt="Angara on Pinterest" border="0" ></a>&nbsp; 
                              <a href="https://twitter.com/angarajewelry" style="outline:none;border:none"><img src="http://cdn.angara.com/promotions/Email/Feb/twitter.png" title="Angara on Twitter" alt="Angara on Twitter" border="0" ></a>&nbsp; 
                              <a href="https://plus.google.com/+Angara" style="outline:none;border:none"><img src="http://cdn.angara.com/promotions/Email/Feb/googleplus.png" title="Angara on Google Plus" alt="Angara on Google Plus" border="0" ></a>&nbsp; 
                              <a href="https://www.youtube.com/c/Angarajewelry" title="Follow us on Twiiter" style="outline:none;border:none"><img src="http://cdn.angara.com/promotions/Email/Feb/youtube.png" title="Angara on YouTube" alt="Angara on YouTube" border="0"></a>
                            </td>
                          </tr>
                          <tr>
                <td colspan="2" style="background:#E8E8E8;padding:8px 0;"><table cellpadding="0" cellspacing="0" width="600" style="font-size:12px">
                    <tr>
                      <td align="center"><a href="https://www.angara.com/rings?utm_source=Email&utm_medium=Email&utm_campaign=New_Account&utm_term={{var customer_email()}}" style="color:#555; text-decoration: none;" title="Rings" target="_blank">Rings</a></td>
                      <td>|</td>
                      <td align="center"><a href="https://www.angara.com/pendants?utm_source=Email&utm_medium=Email&utm_campaign=New_Account&utm_term={{var customer_email()}}" style="color:#555; text-decoration: none;" title="Necklaces" target="_blank">Necklaces</a></td>
                      <td>|</td>
                      <td align="center"><a href="https://www.angara.com/earrings?&utm_source=Email&utm_medium=Email&utm_campaign=New_Account&utm_term={{var customer_email()}}" style="color:#555; text-decoration: none;" title="Earrings" target="_blank">Earrings</a></td>
                      <td>|</td>
                      <td align="center"><a href="https://www.angara.com/engagement-rings?utm_source=Email&utm_medium=Email&utm_campaign=New_Account&utm_term={{var customer_email()}}" style="color:#555; text-decoration: none;" title="Engagement" target="_blank">Engagement</a></td>
                      <td>|</td>
                      <td align="center"><a href="https://www.angara.com/wedding-rings?utm_source=Email&utm_medium=Email&utm_campaign=New_Account&utm_term={{var customer_email()}}" style="color:#555; text-decoration: none;" title="Wedding" target="_blank">Wedding</a></td>
                      <td>|</td>
                      <td align="center"><a href="https://www.angara.com/bracelets?utm_source=Email&utm_medium=Email&utm_campaign=New_Account&utm_term={{var customer_email()}}" style="color:#555; text-decoration: none;" title="Bracelets" target="_blank">Bracelets</a></td>
                      <td>|</td>
                      <td align="center"><a href="https://www.angara.com/collection/high-jewelry?utm_source=Email&utm_medium=Email&utm_campaign=New_Account&utm_term={{var customer_email()}}" style="color:#555; text-decoration: none;" title="High Jewelry" target="_blank">High Jewelry</a></td>
                    </tr>
                  </table></td>
              </tr>
  
  
  
  
    <tr>
      <td height="auto"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:Verdana, Arial, Helvetica, sans-serif;">
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
             <!--   <tr>
                  <td width="17%">&nbsp;</td>
                  <td width="66%" style="text-align:center;"><img src="https://www.angara.com/skin/frontend/angara/default/images/emailer/logo.png" align="middle";/></td>
                  <td width="17%"><img src="https://www.angara.com/skin/frontend/angara/default/images/emailer/guarantee-img.png" align="right"; /></td>
                </tr>
			-->
              </table></td>
          </tr>
		  <!--
          <tr>
            <td style="font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:bold; font-size:20px; color:#57273b; text-align:center; ">JEWELRY PROTECTION WARRANTY PLAN</td>
          </tr>
		  -->
          <tr>
            <td style="font-size:12px;line-height:19px;"><br />
              <br />
              <b>Hi {{var cust_name}},</b><br />
              <br />
              We're glad you chose to purchase the Jewelry Protection Warranty Plan for your valuable jewelry purchase. Please refer order number {{var order_number}} for any communication related to this warranty. Your warranty will remain active until {{var five_plus_year}}.<br />
              <br />
              With the Jewelry Protection Warranty Plan, you can be rest assured that your jewelry will look like new for years to come. Angara will ensure that your jewelry is cared for with the highest quality materials and the most skilled craftsmen in the industry.<br />
              <br /></td>
          </tr>
          <tr>
            <td style="text-align:center;">{{var image}}<br />
              <br /></td>
          </tr>
          <tr>
            <td style="font-size:12px; text-align:center;"><b>{{var prod_name}}</b><br />
              <br /></td>
          </tr>
          <tr>
            <td style="font-size:12px;">The Jewelry Protection Warranty Plan covers the above product for the following:<br />
              <br /></td>
          </tr>
          <tr>
            <td style="font-size:12px;"><ul style="padding-top:1px;list-style-type:lower-alpha; font-weight:bold;  margin-top:1px;">
                <li><span>&nbsp;Re-polishing and cleaning of jewelry (recommend once per year)</span></li>
                <li><span>&nbsp;Repairing bent or broken prongs</span></li>
                <li><span>&nbsp;Repairing any accidental scratches to mounting</span></li>
                <li><span>&nbsp;Replacing or re-polishing any scratches to any gemstones or diamonds</span></li>
                <li><span>&nbsp;Replacing or repairing spring rings on chains</span></li>
                <li><span>&nbsp;Replacing or repairing earring backings</span></li>
                <li><span>&nbsp;Gemstone and/or diamond tightening</span></li>
              </ul></td>
          </tr>
          <tr>
            <td height="171" style="font-size:12px; line-height:19px;"  valign="top"> * The Jewelry Protection Warranty plan stands void if this jewelry is worked upon by another jeweler or 3rd party.<br />
              <br />
              Please call us at 888-926-4272 to use your warranty for any of the above services. Alternatively, you can email us at <a href="mailto:customer.service@angara.com">customer.service@angara.com</a> with your requirement and a jewelry consultant will get back to you within 24 hours.<br />
              <br />
              You may cancel this plan within {{var free_returen_days}} days from {{var order_date}} for a full refund.<br />
              <br />
              Thank you for shopping at <a href="https://www.angara.com/" target="_blank">Angara.com</a> - we look forward to exceeding your expectations! </td>
          </tr>
        </table></td>
    </tr>
	<td align="left" style="padding-top:10px;"><span style="line-height:115%; font-family:'Arial','sans-serif'; font-size:8.0pt; color:#868686; ">We hope you found this message to be useful. Returns are easy, if you have any concerns regarding your ordered item(s) please reach us at  1-888-926-4272 or email us at </span><span style="line-height:115%; font-family:'Calibri','sans-serif'; font-size:11.0pt; "><a href="mailto:customer.service@angara.com" style="color:#555; text-decoration: none;"><span style="line-height:115%; font-family:'Arial','sans-serif'; font-size:8.0pt;color:#555 ">customer.service@angara.com,</span></a></span><span style="font-family:'Arial','sans-serif'; font-size:8.0pt; color:#868686; ">&nbsp;</span><span style="font-family:'Arial','sans-serif'; font-size:8.0pt; color:#868686; "> and we'll be glad to assist you.<br/><br/>
                                            Please note that this message was sent to the following e-mail address: <a style="color:#555; text-decoration: none;"><span style="line-height:115%; font-family:'Arial','sans-serif'; font-size:8.0pt;color:#555 ">{{var recepient_email}}</span></a> If you have received this message in error, or if you are not the named recipient, please immediately notify </span><span style="line-height:115%; font-family:'Calibri','sans-serif'; font-size:11.0pt; "><a href="mailto:customer.service@angara.com" style="color:#555; text-decoration: none;"><span style="line-height:115%; font-family:'Arial','sans-serif'; font-size:8.0pt;color:#555 ">customer.service@angara.com,</span></a></span><span style="font-family:'Arial','sans-serif'; font-size:8.0pt; color:#868686; ">&nbsp;</span><span style="font-family:'Arial','sans-serif'; font-size:8.0pt; color:#868686; ">and delete this message from your computer.<br/><br/>
                                            Note: this e-mail was sent from a notification-only e-mail address that cannot accept incoming e-mail. Please do not reply to this message.
                                            
                                            </span></td>
										</tr>
									</table></td>
							</tr>
							<br />
							<tr>
								<td colspan="2" style="padding:10px 0;" align="center"><table cellpadding="0" cellspacing="0" width="580" style="font-size:13px;" align="center">
										<tr>
											<td align="left"><span style="line-height:115%; font-family:'Arial','sans-serif'; font-size:8.0pt; color:#868686; ">&copy; 2016 Angara INC. All rights reserved.  Office: 550 South Hill St, Suite 1015, Los Angeles, CA 90013</span></td>
											<td width="42">&nbsp;</td>
										</tr>
									</table></td>
							</tr>
						</table></td>
				</tr>
			</table></td>
	</tr>
  </table>
</div>
</body>
</html>
