<!--@subject Dear {{var name}}, here’s what I loved at Angara.com @-->
<!--@vars
{"htmlescape var=$name":"Recipient Name",
"var product_url":"Url for Product",
"var product_name":"Product Name",
"var message":"Sender Message"}
@

Welcome, {{htmlescape var=$name}}<br /><br />Please look at <a href="{{var product_url}}&utm_source=FriendEmail&utm_medium=Website&utm_campaign=SOCIAL">{{var product_name}}</a><br /><br />Here is message: <br />{{var message}}<br /><br />-->

<!--{{template config_path="design/email/header"}}-->
{{block type="cms/block" block_id="email-header-sales"}}
{{inlinecss file="email-inline.css"}}
<td colspan="2">
	<table cellpadding="0" cellspacing="0" border="0" width="100%" class="product_share" style="padding:10px;">
		<tr>
			<td class="action-content">
				<h1>Dear {{htmlescape var=$name}},</h1>
			</td>
		</tr>
		<tr>
			<td>{{var message}}<a href="{{var product_url}}">{{var product_url}}</a>.</td>
		</tr>
		<tr>
			<td align="center" style="margin-top:8px;">
				<a href="{{var product_url}}"><img src="{{var product_image}}" width="150" height="150" style="margin-top:10px;" /></a>
			</td>
		</tr>
		<!--<tr>
			<td align="center"><a href="{{var product_url}}">click here to view</a></td>
		</tr>-->
		<tr><td>&nbsp;</td></tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td>Thank you</td></tr>
		<tr><td>{{var sender_name}}</td></tr>
	</table>
</td>
<!--{{template config_path="design/email/footer"}}-->
{{block type="cms/block" block_id="email-footer-sales"}}