<!--@subject Take a look at {{var customer.name}}'s wishlist @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var message":"Wishlist Message",
"var items":"Wishlist Items"}
@-->
<!--@styles
@-->

<body style="margin:0;padding:0; width:100% !important;font-size:11px; font-family: Arial, Helvetica, sans-serif">
<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td align="center"><table width="600" cellpadding="0" cellspacing="0" border="0" style="border:1px solid #E0E0E0;">
				<tr>
					<td><table cellpadding="0" cellspacing="0" width="600">
                          <tr>
                            <td align="left" valign="middle" width="200" style="padding:5px;float:left;"><a href="http://www.angara.com/?utm_source=Email&utm_medium=Email&utm_campaign=New_Account&utm_term={{var customer_email()}}" target="_blank"><img src="http://cdn.angara.com/skin/frontend/ress/default/images/logo.png" border="0" align="" alt="Angara.com - The Gemstone Destination", title="Angara.com - The Gemstone Destination"></a></td>
                            <td width="390" align="right" style="padding:5px;float:right;">
                               <p style="margin:0;font-size:14px"><a href="https://server.iad.liveperson.net/hc/609151/?cmd=file&file=visitorWantsToChat&site=609151&byhref=1&imageUrl=https://server.iad.liveperson.nethttp://www.angara.comhttp://www.angara.com/store/images/lp/?track=head" style="color:#d0471a;font-family:'Arial','sans-serif';" title="Live Chat" target="_blank"><b>Live Chat</b></a> | <a href="http://www.angara.com/contact-us.html?utm_source=Email&utm_medium=Email&utm_campaign=New_Account&utm_term={{var customer_email()}}" style="color:#d0471a;font-family:'Arial','sans-serif';" title="1-888-926-4272" target="_blank"><b>1-888-926-4272</b></a><br /><br />
                              
                              <a href="https://www.facebook.com/Angaradotcom" style="outline:none;border:none"><img src="http://cdn.angara.com/promotions/Email/Feb/facebook.png" title="Angara on Facebook" alt="Angara on Facebook" border="0" ></a>&nbsp;
                              <a href="https://www.pinterest.com/angarajewelry/" style="outline:none;border:none"><img src="http://cdn.angara.com/promotions/Email/Feb/pinterest.png" title="Angara on Pinterest" alt="Angara on Pinterest" border="0" ></a>&nbsp; 
                              <a href="https://twitter.com/angarajewelry" style="outline:none;border:none"><img src="http://cdn.angara.com/promotions/Email/Feb/twitter.png" title="Angara on Twitter" alt="Angara on Twitter" border="0" ></a>&nbsp; 
                              <a href="https://plus.google.com/+Angara" style="outline:none;border:none"><img src="http://cdn.angara.com/promotions/Email/Feb/googleplus.png" title="Angara on Google Plus" alt="Angara on Google Plus" border="0" ></a>&nbsp; 
                              <a href="https://www.youtube.com/c/Angarajewelry" title="Follow us on Twiiter" style="outline:none;border:none"><img src="http://cdn.angara.com/promotions/Email/Feb/youtube.png" title="Angara on YouTube" alt="Angara on YouTube" border="0"></a>
                            </td>
                          </tr>
                          <tr>
                <td colspan="2" style="background:#E8E8E8;padding:8px 0;"><table cellpadding="0" cellspacing="0" width="600" style="font-size:12px;margin:0 auto;">
                    <tr>
                      <td align="center"><a href="http://www.angara.com/rings.html?utm_source=Email&utm_medium=Email&utm_campaign=New_Account&utm_term={{var customer_email()}}" style="color:#555; text-decoration: none;" title="Rings" target="_blank">Rings</a></td>
                      <td>|</td>
                      <td align="center"><a href="http://www.angara.com/pendants.html?utm_source=Email&utm_medium=Email&utm_campaign=New_Account&utm_term={{var customer_email()}}" style="color:#555; text-decoration: none;" title="Necklaces" target="_blank">Necklaces</a></td>
                      <td>|</td>
                      <td align="center"><a href="http://www.angara.com/earrings.html?&utm_source=Email&utm_medium=Email&utm_campaign=New_Account&utm_term={{var customer_email()}}" style="color:#555; text-decoration: none;" title="Earrings" target="_blank">Earrings</a></td>
                      <td>|</td>
                      <td align="center"><a href="http://www.angara.com/engagement-rings.html?utm_source=Email&utm_medium=Email&utm_campaign=New_Account&utm_term={{var customer_email()}}" style="color:#555; text-decoration: none;" title="Engagement" target="_blank">Engagement</a></td>
                      <td>|</td>
                      <td align="center"><a href="http://www.angara.com/wedding-rings.html?utm_source=Email&utm_medium=Email&utm_campaign=New_Account&utm_term={{var customer_email()}}" style="color:#555; text-decoration: none;" title="Wedding" target="_blank">Wedding</a></td>
                      <td>|</td>
                      <td align="center"><a href="http://www.angara.com/bracelets.html?utm_source=Email&utm_medium=Email&utm_campaign=New_Account&utm_term={{var customer_email()}}" style="color:#555; text-decoration: none;" title="Bracelets" target="_blank">Bracelets</a></td>
                      <td>|</td>
                      <td align="center"><a href="http://www.angara.com/collection/high-jewelry.html?utm_source=Email&utm_medium=Email&utm_campaign=New_Account&utm_term={{var customer_email()}}" style="color:#555; text-decoration: none;" title="High Jewelry" target="_blank">High Jewelry</a></td>
                    </tr>
                  </table></td>
              </tr>
							<tr>
								<td colspan="2">
                                <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="600">
							</tr>
            
        <!-- [ middle starts here] -->
						<tr>
							<td style="padding:0px;">
								<table cellpadding="0" cellspacing="0" border="0">
									<tr>
										<td class="action-content">
											<h1 style="padding:10px;">Hey, take a look at my wishlist from {{var store.getFrontendName()}}.</h1>
											<table cellspacing="0" cellpadding="0" class="message-container" style="padding:10px;">
												<tr>
													<td>{{var message}}</td>
												</tr>
											</table>
											{{var items}}
											<p style="text-align:center;line-height:35px;">
											<strong><a href="{{var viewOnSiteLink}}">View all wishlist items</a></strong></p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
        <!-- [ middle starts here] -->
            <tr>
                <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you for choosing <strong><a href="http://www.angara.com?utm_source=Mx&utm_medium=Email&utm_campaign=INVOICE&utm_term=[EMAIL_ID]" target="_blank">{{var store.getFrontendName()}}</a></strong></p></center></td>
            </tr>
        </table>
                                </td>
							</tr>
							 
							
							
							<tr>
								<td colspan="2" style="border:1px solid #d3d3d3;padding:10px 0;border-top:none" align="center"><table cellpadding="0" cellspacing="0" width="580" style="font-size:13px;" align="center">
										<tr>
											<td align="left"><span style="line-height:115%; font-family:'Arial','sans-serif'; font-size:8.0pt; color:#868686; ">We hope you found this message to be useful. Returns are easy, if you don&#039;t love the ordered item you could reach us at 1-888-926-4272 or email us at </span><span style="line-height:115%; font-family:'Calibri','sans-serif'; font-size:11.0pt; "><a href="mailto:customer.service@angara.com" style="color:#555; text-decoration: none;"><span style="line-height:115%; font-family:'Arial','sans-serif'; font-size:8.0pt;color:#555 ">customer.service@angara.com,</span></a></span><span style="font-family:'Arial','sans-serif'; font-size:8.0pt; color:#868686; ">&nbsp;</span><span style="font-family:'Arial','sans-serif'; font-size:8.0pt; color:#868686; "> and we will be glad to assist you further.<br/><br/>
                                            Please note that this message was sent to the following e-mail address: <a style="color:#555; text-decoration: none;"><span style="line-height:115%; font-family:'Arial','sans-serif'; font-size:8.0pt;color:#555 "> {{var.order.getCustomerEmail()}} </span></a>. If you have received this message in error, or if you are not the named recipient, please immediately notify </span><span style="line-height:115%; font-family:'Calibri','sans-serif'; font-size:11.0pt; "><a href="mailto:customer.service@angara.com" style="color:#555; text-decoration: none;"><span style="line-height:115%; font-family:'Arial','sans-serif'; font-size:8.0pt;color:#555 ">customer.service@angara.com,</span></a></span><span style="font-family:'Arial','sans-serif'; font-size:8.0pt; color:#868686; ">&nbsp;</span><span style="font-family:'Arial','sans-serif'; font-size:8.0pt; color:#868686; "> and delete this message from your computer.<br/><br/>
                                            Note: this e-mail was sent from a notification-only e-mail address that cannot accept incoming e-mail. Please do not reply to this message.
                                            
                                            </span></td>
										</tr>
									</table></td>
							</tr>
							<tr>
								<td colspan="2" style="border:1px solid #d3d3d3;padding:10px 0;border-top:none" align="center"><table cellpadding="0" cellspacing="0" width="580" style="font-size:13px;" align="center">
										<tr>
											<td align="left"><span style="line-height:115%; font-family:'Arial','sans-serif'; font-size:8.0pt; color:#868686; ">&copy; {{customVar code=year}} Angara INC. All rights reserved.  Office: 550 South Hill St, Suite 1015, Los Angeles, CA 90013</span></td>
											<td width="42">&nbsp;</td>
										</tr>
									</table></td>
							</tr>
						</table></td>
				</tr>
			</table></td>
	</tr>
</table>
</body>