<?xml version="1.0"?>
<config>
    <modules>
        <Sutunam_Sharecart>
            <version>0.1.5</version>
        </Sutunam_Sharecart>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Sutunam_Sharecart>
                     <files>
                          <default>Sutunam_Sharecart.csv</default>
                     </files>
                </Sutunam_Sharecart>
            </modules>
        </translate>
        <routers>
            <sharecart>
                <use>standard</use>
                <args>
                    <module>Sutunam_Sharecart</module>
                    <frontName>sharecart</frontName>
                </args>
            </sharecart>
        </routers>
        <layout>
            <updates>
                <sharecart>
                    <file>sharecart.xml</file>
                </sharecart>
            </updates>
        </layout>
        <events>            
            <websiterestriction_frontend>
                <observers>
                    <sutunam_sharecart>
                        <class>Sutunam_Sharecart_Model_Observer</class>
                        <method>continueProcess</method>
                    </sutunam_sharecart>
                </observers>
            </websiterestriction_frontend>
        </events>
        <secure_url>
            <share_cart>/sharecart/index</share_cart>
            <sharecart>/sharecart/index</sharecart>
        </secure_url>
    </frontend>
    <global>
        <blocks>
            <sharecart>
                <class>Sutunam_Sharecart_Block</class>            
            </sharecart>            
        </blocks>
        <helpers>
            <sharecart>
                <class>Sutunam_Sharecart_Helper</class>
            </sharecart>            
        </helpers>
        <models>
            <sharecart>
                <class>Sutunam_Sharecart_Model</class>       
                <resourceModel>sharecart_mysql4</resourceModel>         
            </sharecart>            
            <sharecart_mysql4>
                <class>Sutunam_Sharecart_Model_Mysql4</class>
                <entities>
                    <cart>
                        <table>sutunam_sharecart_cart</table>
                    </cart>                    
                </entities>
            </sharecart_mysql4>
        </models>        
        <resources>
            <sharecart_setup>
                <setup>
                    <module>Sutunam_Sharecart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sharecart_setup>
            <sharecart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sharecart_write>
            <sharecart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sharecart_read>            
        </resources>
        <template>
            <email>
                <sutunamsharecart_email_email_template translate="label" module="sharecart">
                    <label>Share cart</label>
                    <file>sharecart.html</file>
                    <type>html</type>
                </sutunamsharecart_email_email_template>
                <sutunamsharcart_email_email_template translate="label" module="sharecart">
                    <label>Share cart</label>
                    <file>sharecart.html</file>
                    <type>html</type>
                </sutunamsharcart_email_email_template>
            </email>
        </template>
    </global>
    <default>
        <sutunamsharcart>
            <email> 
                <recipient_email><![CDATA[hello@example.com]]></recipient_email>               
                <sender_email_identity>custom2</sender_email_identity>
                <email_template>sutunamsharecart_email_email_template</email_template>
            </email>
            <cart>
                <enable>1</enable>
            </cart>
        </sutunamsharcart>
    </default>
</config>
