#lightview{position:absolute;top:50%;left:50%;height:150px;width:150px;margin:-75px 0 0 -75px;padding:0;text-align:left;	}
	
	
.lv_Container{position:relative;width:100%;height:100%;background:none;padding:0;margin:0;	}
	
	
.lv_Button{cursor:pointer;text-decoration:none;border:none;background:none;margin:0;padding:0;	}
	
	
.lv_Sides{position:absolute;top:50%;left:0;clear:both;width:100%;padding:0;margin:0;	}
	
	
.lv_Sides *{padding:0;margin:0;	}
	
	
.lv_Sides li{list-style-type:none;position:relative;	}
	
	
.lv_PrevSide{float:left;	}
	
	
.lv_NextSide{float:right;	}
	
	
.lv_Sides .lv_Wrapper{width:100%;height:100%;cursor:pointer;	}
	
	
.lv_Sides .lv_Button{float:left;background:none;	}
	
	
.lv_Frames{width:100%;height:100%;position:relative;padding:0;margin:0;	}
	
	
.lv_Frames li{list-style-type:none;margin:0;padding:0;	}
	
	
.lv_Frame{width:100%;display:block;	}
	
	
.lv_Frame *{padding:0;margin:0;	}
	
	
.lv_FrameTop{position:absolute;left:0;width:100%;display:block;	}
	
	
.lv_FrameBottom{position:relative;float:left;clear:both;	}
	
	
.lv_Liquid{position:relative;float:left;width:100%;overflow:hidden;clear:both;	}
	
	
.lv_Liquid .lv_Filler{position:absolute;height:100%;width:2px;top:0;left:50%;	}
	
	
.lv_Half{display:block;height:100%;clear:both;line-height:0;	}
	
	
.lv_Half li{list-style-type:none;	}
	
	
.lv_Corner{float:left;position:relative;	}
	
	
.lv_CornerTr,.lv_CornerBr{float:right;	}
	
	
.lv_Fill{position:absolute;top:0;width:100%;height:100%;	}
	
	
.lv_Half .lv_CornerWrapper{float:left;position:relative;width:50%;height:100%;overflow:hidden;	}
	
	
.lv_HalfRight .lv_CornerWrapper{float:right;	}
	
	
.lv_Corner{position:relative;	}
	
	
.lv_Corner canvas{position:relative;	}
	
	
.lv_HalfLeft .lv_Corner{float:left;	}
	
	
.lv_HalfRight .lv_Corner{position:relative;float:right;	}
	
	
.lv_Center{position:relative;clear:both;height:100%;overflow:hidden;background:none;padding:0;margin:0;	}
	
	
.lv_WrapUp{position:absolute;left:0;height:100%;width:100%;overflow:hidden;padding:0;margin:0;	}
	
	
.lv_WrapDown{position:relative;height:100%;width:100%;overflow:hidden;padding:0;margin:0;	}
	
	
.lv_WrapCenter{position:relative;padding:0;margin:0;	}
	
	
.lv_Loading{position:absolute;top:50%;left:50%;	}
	
	
.lv_Loading .lv_Button{float:left;height:100%;width:100%;	}
	
	
.lv_MediaWrapper{position:relative;width:100%;display:block;overflow:hidden;clear:both;padding:0;margin:0;	}
	
	
.lv_MediaWrapper img{position:relative;float:left;padding:0;margin:0;	}
	
	
.lv_PrevNext{position:absolute;top:0;left:0;width:100%;height:100%;padding:0;margin:0;	}
	
	
.lv_PrevNext *{padding:0;margin:0;	}
	
	
.lv_PrevNext .lv_Button{position:relative;height:100%;	}
	
	
.lv_PrevButton{float:left;	}
	
	
.lv_NextButton{float:right;	}
	
	
.lv_MenuBar{clear:both;position:relative;width:100%;font:11px Arial,Helvetica,sans-serif;color:#7a7a7a;padding:0;margin:0;text-align:left;	}
	
	
.lv_MenuBar *{padding:0;margin:0;	}
	
	
.lv_Close{position:relative;float:right;overflow:hidden;width:100%;height:100%;	}
	
	
.lv_Data{position:relative;float:left;padding-bottom:3px;line-height:13px;overflow:hidden;	}
	
	
.lv_Data li{list-style-type:none;float:left;margin-top:3px;	}
	
	
.lv_DataText{width:100%;	}
	
	
.lv_DataText .lv_Title{font-weight:bold;margin-bottom:2px;	}
	
	
.lv_DataText .lv_Caption{clear:both;	}
	
	
.lv_Data .lv_ImgNumber{color:#a7a7a7;margin-right:5px;margin-top:5px;	}
	
	
.lv_Data .lv_innerPrevNext,.lv_Data .lv_Slideshow{position:relative;border-left:1px solid #d7d7d7;padding:0 5px;margin-top:5px;vertical-align:middle;	}
	
	
.lv_Data .lv_Slideshow{padding-right:0;	}
	
	
.lv_Data .lv_innerPrevNext .lv_Button,.lv_Data .lv_Slideshow .lv_Button{float:left;background-position:center left;background-repeat:no-repeat;	}
	
	
.lv_contentTop,.lv_contentBottom{position:relative;float:left;margin:0;padding:0;clear:both;	}
	
	
#lightview iframe{float:left;border:0;clear:both;padding:0;margin:0;background:none;	}
	
	
.lv_topButtons{position:absolute;left:0;width:100%;overflow:hidden;margin:0;padding:0;	}
	
	
.lv_topcloseButtonImage{cursor:pointer;	}
	
	
#lightviewError p{padding:0 0 10px 0;	}
	
	
#lightviewError div{padding:6px;font:11px Arial,Helvetica,sans-serif;	}
	
	
#lightviewError .message{background:#fcb5b5;color:#dd1f1f;margin-bottom:3px;	}
	
	
#lightviewError .type{font-weight:bold;	}
	
	
#lightviewError .pluginspage{background:#b5fcbd;color:#21be30;	}
	
	
#lightviewError a,#lightviewError a:hover,#lightviewError a:visited{color:#21be30;text-decoration:none;background:none;font-weight:bold;border-bottom:1px solid #7de689;	}
	
	
#lightviewError p{margin-left:0;padding:0;	}
	
	
#lv_overlay{position:absolute;top:0;left:0;height:100%;width:100%;	}
	
	
#lightviewController{position:fixed;bottom:0;top:0;left:50%;margin:0;padding:0;color:#d2d2d2;font:11px Arial,Helvetica,sans-serif;	}
	
	
#lightviewController ul{display:block;height:100%;float:left;margin:0;padding:0;position:relative;	}
	
	
.lv_controllerTop,.lv_controllerMiddle,.lv_controllerBottom{list-style-type:none;float:left;display:block;position:relative;clear:both;overflow:hidden;margin:0;padding:0;	}
	
	
.lv_controllerCenter{width:auto;float:left;	}
	
	
.lv_controllerCornerWrapper{position:absolute;width:100%;height:100%;margin:0;padding:0;	}
	
	
.lv_controllerCornerWrapperTopLeft,.lv_controllerCornerWrapperBottomLeft{top:0;left:-100%;	}
	
	
.lv_controllerCornerWrapperTopRight,.lv_controllerCornerWrapperBottomRight{top:0;left:100%;	}
	
	
#lightviewController .lv_CornerWrapper{width:100%;	}
	
	
#lightviewController .lv_Corner{float:left;	}
	
	
#lightviewController .lv_Corner{float:right;position:relative;	}
	
	
#lightviewController .lv_CornerTr,#lightviewController .lv_CornerBr{float:left;	}
	
	
.lv_controllerBetweenCorners{position:relative;height:100%;overflow:hidden;	}
	
	
.lv_controllerMiddle{position:relative;height:100%;float:left;	}
	
	
.lv_controllerCenter{float:left;width:auto;	}
	
	
.lv_controllerCenter li{list-style-type:none;float:left;display:inline;position:relative;clear:none;	}
	
	
.lv_controllerSetNumber{float:left;text-align:center;	}
	
	
#lightviewController .lv_Button{float:left;position:relative;height:100%;clear:none;	}
	
	
.lv_controllerSetNumber{position:relative;height:100%;padding-right:3px;	}
	
	
.lv_controllerPrev,.lv_controllerNext,.lv_controllerSlideshow,.lv_controllerClose{float:left;position:relative;height:100%;padding-left:3px;	}
	
	
.lv_controllerPrev{border-left:1px solid #3c3c3c;	}
	
	
#lightviewController .lv_controllerNext{padding-right:3px;border-right:1px solid #3c3c3c;	}
	
	
.prototip{font:11px Arial,Helvetica,sans-serif;color:#000;	}
	
	
.prototip .default{width:250px;color:#808080;	}
	
	
.prototip .default .toolbar{background:#f1f1f1;font-weight:bold;	}
	
	
.prototip .default .title{padding:5px;	}
	
	
.prototip .default .content{padding:5px;background:#fff;	}
	
	
.prototipLoader{position:absolute;top:-1000px;left:-1000px;height:14px;width:14px;border:1px solid #ddd;overflow:hidden;	}
	
	
.prototip{position:absolute;overflow:hidden;	}
	
	
.prototip .tooltip,.prototip .toolbar,.prototip .toolbar .title{position:relative;	}
	
	
.prototip .content{clear:both;	}
	
	
.prototip .toolbar .close{position:relative;text-decoration:none;float:right;width:19px;height:15px;display:block;line-height:0;font-size:0;border:0;cursor:pointer;	}
	
	
.prototip .tooltip{height:230px;clear:both;float:left;	}
	
	
.prototip .borderLeftWrapper,.prototip .borderRightWrapper{position:absolute;top:0;left:0;width:300px;height:20px;  background:url(../images/boxbg.jpg) repeat-x;		}
	
	
.prototip .borderFrame{height:100%;width:100%;float:left;margin:0;padding:0;position:relative;	}
	
	
.prototip .borderTop,.prototip .borderBottom{overflow:hidden;	}
	
	
.prototip .borderRow{list-style-type:none;float:left;width:100%;position:relative;clear:both;margin:0;padding:0;	}
	
	
.prototip_CornerWrapper{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;clear:both;	}
	
	
.prototip_Corner{float:left;position:relative;	}
	
	
.prototip canvas{position:relative;float:left;	}
	
	
.prototip_CornerTr,.prototip_CornerBr{float:right;	}
	
	
.prototip_BetweenCorners{position:absolute;top:0;left:0;width:100%;overflow:hidden;clear:both;	}
	
	
.prototip .borderMiddle{position:relative;float:left;	}
	
	
.prototip .borderCenter{position:relative;float:left;height:100%;	}
	
	
.prototip_StemWrapper{position:relative;width:100%;height:auto;clear:both;	}
	
	
.prototip_StemBox{float:left;position:relative;	}
	
	
.prototip_Stem{width:100%;position:absolute;overflow:hidden;	}
	
	
.iframeShim{position:absolute;border:0;margin:0;padding:0;background:none;overflow:hidden;	}
	
	
.prototip .clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;	}
	
	
.prototip .clearfix{display:inline-block;	}
	
	
/* IE Mac Hide \*/ .prototip .clearfix{display:block;	}

.search-tip{padding:9px;height:202px;}
	
	
.search-tip .tip-pic{width:182px;float:left;	}
	
	
.search-tip .tip-pic a{text-decoration:none!important;	}
	
	
.search-tip .tip-pic a span{display:block;margin:0;text-align:left!important;font:14px Arial,Helvetica,sans-serif;text-decoration:none!important;color:#581616;position:absolute;top:199px;	}
	
	
.search-tip .tip-pic a span b{color:#A30000;font:18px Arial,Helvetica,sans-serif;padding:0 0 0 15px;	}
	
	
.search-results .grid-row.mini li a span:hover,.search-tip .tip-pic a span:hover{text-decoration:none!important;	}
	
	
.search-tip .tip-pic a img{float:left;border:1px solid #bbb;width:180px;height:180px;	}
	
	
.search-tip .tip-content{display:block;float:left;padding-left:16px;width:218px;position:relative;left:0;height:182px;max-height:182px;	}
	
	
.tip-left .tip-content{padding-left:0;padding-right:16px;	}
	
	
.search-tip .tip-pic a span span{margin-left:1px!important;	}

h5
{
font:bold 13px Arial, Helvetica, sans-serif;
color:#581616;
}

h5 a
{
font:bold 13px Arial, Helvetica, sans-serif;
color:#581616;
text-decoration:none;
}

h5 a:hover
{
	text-decoration:underline;
}	
/* IE Mac Hide End */ @media screen and(-webkit-min-device-pixel-ratio:0){div.chat-wrap{height:61%!important;	}
