

.staticleftnav
{
display:none;
}



.staticrightpart
{
 background-color:#f6f6f6;
 padding:10px;
}

.pageheading
{
font-size:16px;
font-weight:bold;
color:#525252;
}

.subheading
{
background-color:#f3f3f3;
height:21px;
padding:5px 0 0 10px;
font-size:12px;
color:#525252;
margin-top:12px;
}


.testimonialbox
{
font-size:12px;
color:#525252;
margin:18px 2px 0 0;
}




p
{
font-size:12px;
color:#525252;
line-height:18px;
padding-bottom:20px;
}

p a
{
text-decoration:underline;
color:#525252;
}




.leftnavcat
{
padding:5px;
}


.leftnavheading
{
font-weight:bold;
font-size:15px;
color:#525252;
line-height:18px;
padding:4px 0 4px 4px;
background-color:#f3f3f3;
margin-bottom:5px;
}

.leftnavlist
{
font-size:12px;
color:#525252;
padding-left:4px;
padding-bottom:18px;
}


.leftnavlist ul
{
margin:0;
padding:0;
list-style:none;
}


.leftnavlist li
{
clear:both;
padding-left:10px;
}

.leftnavlist li a
{
font-size:12px;
color:#525252;
text-decoration:none;
line-height:25px;
}

.leftnavlist li li
{
clear:both;
padding-left:10px;
}

.leftnavlist li li a 
{
font-size:12px;
color:#525252;
text-decoration:none;
line-height:17px;
}

.pointlist ul
{
list-style:circle;
}

.pointlist li
{
padding-bottom:5px;
margin-left:15px;
line-height:18px;
}

.pointlist ul ul
{
margin-left:15px;
}


.shippingop
{
text-align:center;
width:auto!important;
font-family:open_sansregular, Arial, Helvetica, sans-serif!important;

}

.shippingop td, .shippingop th
{
text-align:center;
vertical-align:middle;
font-family:open_sansregular, Arial, Helvetica, sans-serif!important;
width:50%!important;
}



.faqquestion
{
font-size:12px;
color:#525252;
padding-top:10px;
padding-bottom:5px;
}

.faqquestion a
{
color:#525252;
text-decoration:underline;
}

.faqans
{
font-size:12px;
color:#666666;
padding-bottom:15px;
line-height:17px;
display:none;
}
.faqans a
{
color:#666666;
text-decoration:underline;
}

.faqleft
{
padding:2px 2px 10px 2px;
margin-bottom:18px;
width:416px;
float:left;
background-color:#f6f6f6;
}




.sectionhead
{
height:20px;
background-color:#f0f0f0;
margin:0 0 20px 0;
font-size:12px;
color:#525252;
padding-left:10px;
padding-top:6px;
}



.faqleft ul
{
padding:0 0 0 0;
margin:0 12px 18px 12px;
list-style:none;
}

.faqleft li
{
font-size:11px;
list-style:none;
display:inline;
}




.faqleft li a
{
font-size:11px;
color:#525252;
text-decoration:none;
padding:0 4px 0 2px;

}

.faqleft li a:hover
{
text-decoration:underline;
}



.farrightlink
{
width:276px;
float:right;
}

.faqright
{
padding:2px 2px 10px 2px;
background-color:#f6f6f6;
margin-bottom:18px;
}


.faqright ul
{
padding:0 0 0 0;
margin:0 12px 14px 12px;
list-style:none;
}

.faqright li
{
font-size:11px;
list-style:none;
padding-bottom:4px;
background:url(../images/faqdot.jpg) no-repeat ;
background-position:0 3px;
}

.faqright li a
{
margin-left:12px;
font-size:11px;
color:#525252;
text-decoration:none;
}

.faqright li a:hover
{
text-decoration:underline;
}

#slideshow {list-style:none; color:#fff}
#slideshow span {display:none;  width:250px; height:250px;}
#wrapper {width:256px;}

#fullsize {position:relative; width:250px; height:250px; padding:2px; border:1px solid #D4D4D4; background:#fff}
#image {width:250px}
#image img {position:absolute; z-index:25; width:auto}
.imgnav {position:absolute;  cursor:pointer; z-index:150}
#imgprev {left:0;}
#imgnext {right:0; }
#imglink {position:absolute; z-index:100; opacity:.4; filter:alpha(opacity=40)}
.linkhover {}
#thumbnails {margin-top:15px}
#slideleft {float:left; width:20px; height:56px; background:url(../images/ls/lsscroll-left.gif) center center no-repeat;}
#slideleft:hover {}
#slideright {float:right; width:20px; height:56px; background:url(../images/ls/lsscroll-right.gif) center center no-repeat}
#slideright:hover {}
#slidearea {float:left; position:relative; width:206px; margin-left:5px; height:56px; overflow:hidden}
#slider {position:absolute; left:0; height:56px}
#slider img {cursor:pointer; border:1px solid #D4D4D4; padding:2px}

.link-share
{
margin-top:18px;
width:714px;
height:38px;
}

.link-share-nav-corner
{
width:11px;
height:38px;
float:left;
}

.link-share-nav-mid
{
width:712px;
height:36px;
background-color:#F3F3F3;
}

.link-share-program
{
margin:0;
padding:0;
list-style:none;
padding-top:10px;
padding-bottom:10px;
}

.link-share-program li
{
background:url(../images/ls/link-dot.jpg) no-repeat left top;
color:#525252;
padding-left:10px;
font-size:12px;
}

.link-share-program li a
{

color:#525252;
font-size:12px;
text-decoration:none;
}

.link-share-nav
{
margin:0;
padding:0;
list-style:none;
}

.link-share-nav li
{
float:left;
color:#525252;
font-weight:bold;
font-size:13px;
}

.link-share-nav li a
{
font-size:13px;
color:#525252;
line-height:38px;
padding:0 24px 0 24px;
font-weight:bold;
text-decoration:none;
}

.link-share-nav li a:hover
{
color:#525252;
text-decoration:underline;
}

.link-share-para-heading
{
font-size:15px;
color:#525252;
font-weight:bold;
padding-bottom:10px;
padding-top:30px;
}

.link-share-question 
{
font-size:11px;
color:#525252;
font-weight:bold;

}

.link-share-question a
{
color:#525252;
text-decoration:underline;

}

.link-share-question a:hover
{
color:#525252;
text-decoration:underline;
}

p{
margin:0px;
padding:0px 0 15px 0;

}

.link-share-detail
{
font-size:12px;
color:#525252;
line-height:18px;
}

.link-share-list 
{
padding:0;
margin:0;
list-style:none;
}


.link-share-list li
{
font-size:12px;
color:#525252;
padding-left:10px;
margin-left:10px;
background:url(../images/ls/lsarrow.jpg) no-repeat left top ;
line-height:20px;
}

.headingmiddle
{
font-size:19px;
color:#525252;
margin-bottom:30px;
text-transform:uppercase;
}


pre
{
margin:0;
padding:0;
}

.angara-press_sectionls
	{
	height:70px;
	clear:both;
	margin-bottom:20px;	
	} 
	
.angara-press_txtls
	{
	width:540px;
	padding-left:12px;	
	float:right;
	font-size:12px;
	color:#525252;
	line-height:18px;
	}
		
.testimonial-home{height:200px;overflow:hidden;}
.testimonial-marq{height:200px; font-size:12px; color:#525252;}

.home-contant{padding-top:50px;}
.deals-week-top{height:41px;}
.deals-week-left{width:10px;height:41px;float:left;}
.deals-week-mid{width:693px;height:41px;float:left;background:url(../images/ls/deals-week-mid.jpg) repeat-x; border-left: 1px solid #c5b9ad; border-right:1px solid #c5b9ad; padding-left:10px;}
.deals-week-right{width:10px;height:41px;float:left;}
#gemstone-jewelry-top{width:705px;height:10px;}
.gemstone-jewelry-mid{width:703px;border: 1px solid #b9b9b9; border-top:none;}
.gemstone-jewelry-bottom{width:705px;height:10px;}
.home-contant-txt1{color:#525252; font-size:12px; padding:14px 15px 10px 15px;}
.home-contant-txt a{color:#525252;text-decoration:none;}



.txt-gap{
	margin-bottom:8px;
	clear:both;
	}


				
				
#angara-press_inner
	{
	width:782px;
	margin-left:7px;
	margin-right:7px;	
	margin-top:0px;
	height:auto;															
	}
	
.angara-press_heading 
	{
	width:auto;					 						
	font-size:20px;
	color:#000000;	
	font-weight:bold;
	margin-bottom:8px;
	}
	
.angara-press_section
	{
	width:782px;
	height:70px;
	clear:both;
	margin-bottom:20px;
	
	} 
	
.angara-press_images
	{
	width:150px;		
	float:left;	
	}
.angara-press_txt
	{
	width:450px;
	padding-left:32px;	
	float:left;
	font-size:12px;
	color:#525252;
	line-height:18px;
	} 
	
.angara-press_more 
	{
	font-size:11px;
	color:#525252;
	font-weight:bold;
	padding-right:5px;
	clear:both;
	text-align:right;
	height:20px;	
	}

.angara-press_more a, .angara-press_more a:visited	 		

	{
	font-size:11px;
	color:#525252;
	font-weight:bold;
	padding-right:5px;
	clear:both;
	text-align:right;
	height:20px;
	text-decoration:underline;	
	}
	
	
.staticlspromo
{
 background-color:#fff; 
 border:solid 1px #D4D4D4;
 float:right;
 min-height:700px;
 height:auto !important;
 height:700px; 

}

.lspromo
{
width:714px;
 padding:10px;
}

.contactformbg {
	width: 441px;
	margin: 10px 0 35px 0;
	background-color:#f5f5f5;
	padding: 8px 15px 8px 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}


.contactfrmheading
{
font-weight:bold;
font-size:14px;
color:#525252;
padding-bottom:5px;
}

.formtxt
{
font-size:12px;
color:#525252;
padding-bottom:5px;
}

.formfiled
{
font-size:12px;
color:#525252;
float:left;
padding-top:3px;
width:150px;
margin-bottom:8px;
}
.inputfield
{
width:144px;
font-size:12px;
height:18px;
color:#525252;
border:solid 1px #d1c2ab;
float:left;
margin-bottom:8px;
}

.txtarea
{
font-size:12px;
width:220px;
color:#525252;
height:125px;
border:solid 1px #d1c2ab;
float:left;
margin-bottom:8px;
overflow:auto;
}

.send-butt
{
padding-left:150px;
padding-top:5px;
}



.faqquestion
{
font-size:12px;
color:#525252;
padding-top:10px;
padding-bottom:5px;
}

.faqquestion a
{
color:#525252;
text-decoration:underline;
}

.faqans
{
font-size:12px;
color:#666666;
padding-bottom:15px;
line-height:17px;
display:none;
}
.faqans a
{
color:#666666;
text-decoration:underline;
}
.fieldbox{ border:1px solid #D4D4D4; background:#f6f6f6; padding:22px 25px 12px 25px; margin:5px 0; }
.fieldset { border:none; background:none; padding:0; margin:0; }
.form-list li.wide .input-box , .form-list li.wide textarea { width:362px; }
.buttons-set { clear:both; margin:10px 0 0 0; padding:8px 0 0; border-top:none; text-align:left; }

.buttons-set button.button {float: none;    margin-left: 0;}
input.input-text:focus,select:focus,textarea:focus { background-color:#fff; }


input, select, textarea, button {
    color: #000;
	font-size:12px;
	line-height:15px;
    vertical-align: baseline;
}

.buttons-set span, .buttons-set span span
{
position:static;
clear:both;
}

.form-list .field {
    float: left;
    width: 275px;
	padding-top:8px;
}

.team
{
min-height:720px;
height:auto !important;
height:720px;
}

.validation-failed { border:1px dashed #7b7b7b !important; background:#fff !important; }
.validation-passed {}

.faqleft li h2 
{
font-weight:bold;
font-size:16px;
list-style:none;
display:inline;
color:#525252;
}

.faqleft li h2 a
{
font-weight:bold;
font-size:16px;
text-decoration:none;
color:#525252;
}


.faqleft li h3
{
font-weight:bold;
font-size:14px;
list-style:none;
display:inline;
color:#525252;
}

.faqleft li h3 a
{
font-weight:bold;
font-size:14px;
text-decoration:none;
color:#525252;
}


.faqleft li h4
{
font-weight:bold;
font-size:12px;
list-style:none;
display:inline;
color:#525252;
}

.faqleft li h4 a
{
font-weight:bold;
font-size:12px;
text-decoration:none;
color:#525252;
}


h5
{
font-weight:bold;
font-size:11px;
list-style:none;
display:inline;
color:#525252;
}

h5 a
{
font-weight:bold;
font-size:11px;
text-decoration:none;
color:#525252;
}

.jewelrylanding
{
background:url(../images/jewelrylandingbg.jpg) repeat-x;
height:491px;
width:714px;
list-style:18px;
margin:20px 0 20px 0;
}

.jewelrytypeheading
{
font-size:48px;
color:#525252;
line-height:48px;
text-transform:uppercase;
width:265px;
margin:0 auto;
padding-top:26px;
}

.jewelryboxs
{
width:339px;
float:left;
}

.jewelryimg
{
width:310px;
height:177px;
padding-top:50px;
margin:0 auto;
}

.jewelryshopnow
{
width:260px;
height:65px;
padding-top:50px;
margin:0 auto;
}

.jewelrydivider
{
width:36px;
float:left;
height:491px;
background:url(../images/jeweltyprdivider.jpg) no-repeat center;
}


.jewelrylandingleft
{
min-height:881px;
height:auto !important;
height:881px;
}

.contentpart p
{
line-height:18px;
}

.contentpart p a
{
font-weight:bold;
font-size:12px;
text-decoration:underline;
}

.pointlist
{
width:auto;
height:auto;
padding-bottom:15px;
}

.pointlist ul
{
list-style:none;
padding:0;
margin:0;
}

.pointlist li
{
list-style: disc outside none;
font-size:12px;
padding-bottom:5px;
}

.pointlist li a
{
color:#525252;
text-decoration:none;
font-weight:bold;
}

.pointlist li a:hover
{
text-decoration:underline;
}

.shippingpage h2
{
font-weight:bold;
font-size:15px;
padding:0;
margin:0;
padding-bottom:3px;
display:block;
}

.shippingpage h2 a
{
font-weight:bold;
font-size:15px;
text-decoration:none;
}

.countrytexdetails
{
border: 1px solid #D4D4D4;
margin: 1px;
width: 714px;
font-size:10px;
color:#525252;
margin-bottom:15px;
}

.countrytexdetails .tabheading
{
background-color:#e8e8e8;
border-right:1px solid #D4D4D4;
border-bottom:1px solid #D4D4D4;
font-weight:bold;
font-size:12px;
padding:3px;
}

.countrytexdetails .countrynamebox
{
border-right:1px solid #D4D4D4;
border-bottom:1px solid #D4D4D4;
font-weight:bold;
font-size:10px;
padding:3px;
}

.countrytexdetails .dutyrate
{
font-size:10px;
border-right:1px solid #D4D4D4;
border-bottom:1px solid #D4D4D4;
padding:3px;
}

.countrytexdetails .taxrate
{
font-size:10px;
padding:3px;
border-bottom:1px solid #D4D4D4;
border-right:1px solid #D4D4D4;
}

.countrytexdetails .totalduty
{
font-size:10px;
padding:3px;
border-bottom:1px solid #D4D4D4;
border-right:1px solid #D4D4D4;

}

.countrytexdetails .sitecontacts
{
font-size:10px;
padding:3px;
border-bottom:1px solid #D4D4D4;
width:80px;
}

.countrytexdetails .sitecontacts a
{
color:#00277d;
text-decoration:none;
}

.countrytexdetails .sitecontacts a:hover
{
color:#00277d;
text-decoration:underline;
}

.pointlist .countryshipping{ float:left; text-align:left; margin-top:15px; width:33.3333%;}
.pointlist .countryshipping ul{list-style:none; padding:0; margin:0;}
.pointlist .countryshipping li{height:40px; list-style:none;line-height: 15px; list-style: none outside none;   
   }
.pointlist .countryshipping li a{font-size:11px; color:#525252; text-decoration:none;}

 .dutytax{width:172px; float:left; text-align:left; margin-top:15px;}
.dutytax ul{list-style:none; padding:0; margin:0;}
 .dutytax li{height:26px;width:172px; list-style:none;font-size:10px;}
 .dutytax li a{font-size:11px; color:#525252; text-decoration:none;}
 
.countrytexdetails .bordernone{border-bottom:0;}

.buttons-set .submit-review-btn {
	
	height:31px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.buttons-set .submit-review-btn span {
	border: none;
	background: url(../images/allbuttonbgleft.jpg) left top repeat-x;
	height:31x;
	
}
.buttons-set .submit-review-btn span span {
	padding: 0 8px;
	display: inline-block;
	background: url(../images/allbuttonbgright.jpg) right top no-repeat;
	height:31px;
	line-height:31px;
}

 .form-list li.wide textarea
{
	background-color:#fff;
	border:1px solid #B6B6B6;
}
.shipping-mid-right
{
display:none;
}