<?xml version="1.0"?>
<config>
    <modules>
		<Angara_Reminder>
			<version>0.0.1</version>
		</Angara_Reminder>
	</modules>
    <frontend>
        <routers>
            <reminder>
                <use>standard</use>
                <args>
                    <module>Angara_Reminder</module>
                    <frontName>reminder</frontName>
                </args>
            </reminder>
        </routers>
        <layout>
            <updates>
                <reminder>
                    <file>reminder.xml</file>
                </reminder>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <reminder>
                <class>Angara_Reminder_Model</class>
                <resourceModel>reminder_mysql4</resourceModel>
            </reminder>
            <reminder_mysql4>
                <class>Angara_Reminder_Model_Mysql4</class>
                <entities>
                    <reminder>
                        <table>reminder</table>
                    </reminder>
                </entities>
            </reminder_mysql4>
        </models>
        <resources>
            <reminder_setup>
                <setup>
					<module>Angara_Reminder</module>
					<class>Angara_Reminder_Model_Resource_Mysql4_Setup</class>
				</setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reminder_setup>
            <reminder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reminder_write>
            <reminder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reminder_read>
        </resources>
		<template>
			<email>		
				<reminder_email_email_template translate="label" module="reminder">		
					<label>Reminder Email</label>		
					<file>reminder.html</file>		
					<type>html</type>	
				</reminder_email_email_template>		
			</email>	
		</template>
        <blocks>
            <reminder>
                <class>Angara_Reminder_Block</class>
            </reminder>
        </blocks>
        <helpers>
            <reminder>
                <class>Angara_Reminder_Helper</class>
            </reminder>
        </helpers>
    </global>
	<crontab>
			<jobs>
				<reminder>
					<schedule><cron_expr>0 1 * * *</cron_expr></schedule>
					<run><model>reminder/observer::sendReminderEmail</model></run>
				</reminder>
			</jobs>
	</crontab>
	<default>
        <reminder>
            <general>
                <active>1</active>
            </general>
            <email>
                <email_identity>general</email_identity>
                <email_template>reminder_email_email_template</email_template>
            </email>
        </reminder>
    </default>
</config>