<?xml version="1.0"?>
<config>
    <modules>
        <Studs_Diamondstud>
            <version>0.1.0</version>
        </Studs_Diamondstud>
    </modules>
    <frontend>
        <routers>
            <diamondstud>
                <use>standard</use>
                <args>
                    <module>Studs_Diamondstud</module>
                    <frontName>diamondstud</frontName>
                </args>
            </diamondstud>
        </routers>
        <layout>
            <updates>
                <diamondstud>
                    <file>diamondstud.xml</file>
                </diamondstud>
            </updates>
        </layout>
    </frontend>
       
    <global>
        <models>
            <diamondstud>
                <class>Studs_Diamondstud_Model</class>
                <resourceModel>diamondstud_mysql4</resourceModel>
            </diamondstud>
            <diamondstud_mysql4>
                <class>Studs_Diamondstud_Model_Mysql4</class>
                <entities>
                    <diamondstud>
                        <table>diamondstud</table>
                    </diamondstud>
                </entities>
            </diamondstud_mysql4>
        </models>
        <resources>
            <diamondstud_setup>
                <setup>
                    <module>Studs_Diamondstud</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </diamondstud_setup>
            <diamondstud_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </diamondstud_write>
            <diamondstud_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </diamondstud_read>
        </resources>
        <blocks>
            <diamondstud>
                <class>Studs_Diamondstud_Block</class>
            </diamondstud>
			
			
        </blocks>
        <helpers>
            <diamondstud>
                <class>Studs_Diamondstud_Helper</class>
            </diamondstud>
        </helpers>
    </global>
</config>