<?xml version="1.0"?>
<config>
  <modules>
    <Angara_Customerreview>
      <version>2.4.0</version>
    </Angara_Customerreview>
  </modules>
	<frontend>
		<routers>
			<customerreview>
				<use>standard</use>
				<args>
					<module>Angara_Customerreview</module>
					<frontName>customerreview</frontName>
				</args>
			</customerreview>
		</routers>
		<layout>
	            <updates>
	                <customerreview>
	                      <file>customerreview.xml</file>
	                </customerreview>
	            </updates>
	    </layout>		
	</frontend>
	
	<!--S:VA	admin router define to open the module in admin-->
	<admin>
        <routers>
            <customerreview>
                <use>admin</use>
                <args>
                  <module>Angara_Customerreview</module>
                  <frontName>backend_customerreview</frontName>		
                </args>
            </customerreview>           
        </routers>
    </admin>
	  
  <global>
	<models>
		<customerreview>
			<class>Angara_Customerreview_Model</class>
			<resourceModel>customerreview_mysql4</resourceModel>
		</customerreview>
	   <customerreview_mysql4>
			<class>Angara_Customerreview_Model_Mysql4</class>
			<entities>
				<customerreviewlog>
					<table>customerreview_log</table>
				</customerreviewlog>
				<customerreviewsubmission>
					<table>customerreview_submission</table>
				</customerreviewsubmission>			
			</entities>
		</customerreview_mysql4>  
	</models>
	<resources>
	   <customerreview_setup>
			<setup>
				<module>Angara_Customerreview</module>
				 <class>Angara_Customerreview_Model_Resource_Mysql4_Setup</class>
			</setup>
			<connection>
				<use>core_setup</use>
			</connection>
		</customerreview_setup>
		<customerreview_write>
			<connection>
				<use>core_write</use>
			</connection> 
		</customerreview_write>
		<customerreview_read>
			<connection>
				<use>core_read</use>
			</connection>
		</customerreview_read> 
	</resources>	
	<helpers>
		<customerreview>
			<class>Angara_Customerreview_Helper</class>
		</customerreview> 
	</helpers>
	 <blocks>
		<customerreview>
			<class>Angara_Customerreview_Block</class>
		</customerreview>
	 </blocks>		 
	 <events>	 
		<!--<sales_order_status_after>
			<observers>
				<sales_order_status_after>
					<class>customerreview/observer</class>
					<method>salesOrderStatusAfter</method>
				</sales_order_status_after>			
			</observers>
		</sales_order_status_after> 	--> 
		<order_completion_followup_after>
			<observers>
				<order_completion_followup_after>
					<class>customerreview/observer</class>
					<method>orderCompletionFollowupAfter</method>
				</order_completion_followup_after>			
			</observers>
		</order_completion_followup_after> 		
	 </events>
	 
  </global>
</config>