<?xml version="1.0"?>
<config>
	<modules>
		<Angara_Productbase>
			<version>0.0.6</version>
		</Angara_Productbase>
	</modules>
	<admin>
		<routers>
			<productbase>
				<use>admin</use>
				<args>
					<module>Angara_Productbase</module>
					<frontName>productbase</frontName>
				</args>
			</productbase>
		</routers>
	</admin>
	<global>
		<helpers>
			<productbase>
				<class>Angara_Productbase_Helper</class>
			</productbase>
		</helpers>
		<blocks>
			<productbase>
				<class>Angara_Productbase_Block</class>
			</productbase>
		</blocks>
		<models>
            <productbase>
                <class>Angara_Productbase_Model</class>
                <resourceModel>productbase_mysql4</resourceModel>
            </productbase>
            <productbase_mysql4>
                <class>Angara_Productbase_Model_Mysql4</class>
                <entities>
					<category><table>angara_pb_category</table></category>
                    <product><table>angara_pb_product</table></product>
					<stone><table>angara_pb_stone</table></stone>
					<stonename><table>angara_pb_stone_name</table></stonename>
					<stoneprice><table>angara_pb_stone_price_per_carat</table></stoneprice>
					<stoneshape><table>angara_pb_stone_shape</table></stoneshape>
					<stoneweight><table>angara_pb_stone_weight</table></stoneweight>
                    <settingtype><table>angara_pb_setting_type</table></settingtype>
					<metal><table>angara_pb_metal_type</table></metal>
					<productstone><table>angara_pb_product_stone</table></productstone>
					<productgrade><table>angara_pb_product_grade</table></productgrade>
					<productmetal><table>angara_pb_product_metal</table></productmetal>
                </entities>
            </productbase_mysql4>
        </models>
		
		<resources>
			<productbase_setup>
				<setup>
					<module>Angara_Productbase</module>
					<class>Angara_Productbase_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</productbase_setup>
		</resources>
	</global>
</config>
