<?xml version="1.0"?>
<config>
    <modules>
        <Angara_Gemstonecolor>
            <version>0.0.4</version>
        </Angara_Gemstonecolor>
    </modules>
    <global>
        <blocks>
            <gemstonecolor>
                <class>Angara_Gemstonecolor_Block</class>
            </gemstonecolor>
        </blocks>
        <helpers>
			<gemstonecolor>
				<class>Angara_Gemstonecolor_Helper</class>
			</gemstonecolor>
		</helpers>
		<models>
			<gemstonecolor>
				<class>Angara_Gemstonecolor_Model</class>
			</gemstonecolor>
		</models>
		<resources>
			<gemstonecolor_setup>
				<setup>
					<module>Angara_Gemstonecolor</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
			</gemstonecolor_setup>
        </resources>
		<events>
			<catalog_product_prepare_save>
				<observers>
					<angara_catalog_init_product_save>
						<type>model</type> 
						<class>gemstonecolor/observer</class> 
						<method>initProductSave</method> 
					</angara_catalog_init_product_save>
				</observers>
			</catalog_product_prepare_save>
		</events>
		<cache>
			<types>
				<gemstonecache translate="label,description" module="gemstonecolor">
					<label>Gemstone Colors</label>
					<description>Gemstone Colors Relations</description>
					<tags>GEMSTONES_CACHE</tags>
				</gemstonecache>
			</types>
		</cache>
    </global>
	<admin>
		<routers>
			<adminhtml> <!-- Mage_Adminhtml route name used due to security reason as per SUPEE-6788 -->
				<args>
					<modules>
						<gemstonecolor after="Mage_Adminhtml">Angara_Gemstonecolor</gemstonecolor>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<gemstonecolor>
					<file>gemstonecolor.xml</file>
				</gemstonecolor>
			</updates>
		</layout>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all> 
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<gemstonecolors>
											<title>Gemstone Colors Categories</title>
											<sort_order>100</sort_order>
										</gemstonecolors>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
    <frontend>
        <layout>
			<updates>
				<gemstonecolor>
					<file>gemstonecolor.xml</file>
				</gemstonecolor>
			</updates>
		</layout>
        <routers>
          <gemstonecolor>
              <use>standard</use>
              <args>
                  <module>Angara_Gemstonecolor</module>
                  <frontName>gemstonecolor</frontName>
              </args>
        </gemstonecolor>
    </routers>
    </frontend>
</config>
