<?xml version="1.0"?>
<config>
    <modules>
        <Angara_Feeds>
            <version>1.0.0</version>
        </Angara_Feeds>
    </modules>
    <frontend>
        <routers>
            <feeds>
                <use>standard</use>
                <args>
                    <module>Angara_Feeds</module>
                    <frontName>feeds</frontName>
                </args>
            </feeds>
        </routers>
        <layout>
            <updates>
                <feeds>
                    <file>feeds.xml</file>
                </feeds>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<feeds>
				<use>admin</use>
				<args>
					<module>Angara_Feeds</module>
					<frontName>feeds</frontName>
				</args>
			</feeds>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<feeds>
					<file>feeds.xml</file>
				</feeds>
			</updates>
		</layout>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<feeds>
							<title>Feeds Module</title>
							<sort_order>11</sort_order>
							<children>
								<items translate="title" module="feeds">
									<title>Feeds Module Settings</title>
									<sort_order>50</sort_order>
									<action>feeds/adminhtml_feeds</action>
								</items>
							</children>
						</feeds>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>   
    <global>
        <models>
		  <feeds>
                <class>Angara_Feeds_Model</class>
                <resourceModel>feeds_mysql4</resourceModel>
            </feeds>
            <feeds_mysql4>
                <class>Angara_Feeds_Model_Mysql4</class>
                <entities>
                    <feeds>
                        <table>feeds</table>
                    </feeds>
					 <amazon>
                        <table>feedsamazon</table>
                    </amazon>
					<sears>
                        <table>feedssears</table>
                    </sears>
                </entities>
            </feeds_mysql4>
        </models>
        <resources>
            <feeds_setup>
                <setup>
                    <module>Angara_Feeds</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </feeds_setup>
            <feeds_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </feeds_write>
            <feeds_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </feeds_read>
        </resources>
        <blocks>
            <feeds>
                <class>Angara_Feeds_Block</class>
            </feeds>
        </blocks>
        <helpers>
            <feeds>
                <class>Angara_Feeds_Helper</class>
            </feeds>
        </helpers>
    </global>
		<default>
			<feeds>
				<settings>
					<time_delay>6</time_delay>
					<show_description>1</show_description>
					<list_style>1</list_style>
					<image_width>450</image_width>
					<image_height>250</image_height>
				</settings>
			</feeds>
		</default>
</config>