<?xml version="1.0"?>
<config>
  <modules>
    <Angara_BuildYourOwn>
      <version>0.1.0</version>
    </Angara_BuildYourOwn>
  </modules>
  <frontend>
    <routers>
      <buildyourown>
        <use>standard</use>
          <args>
            <module>Angara_BuildYourOwn</module>
            <frontName>buildyourown</frontName>
          </args>
      </buildyourown>
    </routers>
		<layout>
		  <updates>
			<buildyourown>
			  <file>buildyourown.xml</file>
			</buildyourown>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <buildyourown>
        <class>Angara_BuildYourOwn_Helper</class>
      </buildyourown>
    </helpers>
	<blocks>
	  <buildyourown>
		<class>Angara_BuildYourOwn_Block</class>
	  </buildyourown>
	</blocks>
	<models>
	  <buildyourown>
		<class>Angara_BuildYourOwn_Model</class>
	  </buildyourown>
	</models>
  </global>
</config> 