<?xml version="1.0"?>
<config>
	<modules>
		<Angara_Recentlysold>
			<version>0.0.5</version>
		</Angara_Recentlysold>
	</modules>
	<admin>
		<routers>
			<recentlysold>
				<use>admin</use>
				<args>
					<module>Angara_Recentlysold</module>
					<frontName>recentlysold</frontName>
				</args>
			</recentlysold>
		</routers>
	</admin>
	<global>
		<helpers>
			<recentlysold>
				<class>Angara_Recentlysold_Helper</class>
			</recentlysold>
		</helpers>
		<blocks>
			<recentlysold>
				<class>Angara_Recentlysold_Block</class>
			</recentlysold>
		</blocks>
		<models>
            <recentlysold>
                <class>Angara_Recentlysold_Model</class>
                <resourceModel>recentlysold_mysql4</resourceModel>
            </recentlysold>
            <recentlysold_mysql4>
                <class>Angara_Recentlysold_Model_Mysql4</class>
                <entities>
					<item><table>angara_recentlysold_item</table></item>
                </entities>
            </recentlysold_mysql4>
        </models>
		
		<resources>
			<recentlysold_setup>
				<setup>
					<module>Angara_Recentlysold</module>
					<class>Angara_Recentlysold_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</recentlysold_setup>
		</resources>
		
		<events>
			<sales_order_place_after>
				<observers>
					<recentlysold_salesOrderPlaceAfter>
						<type>singleton</type>
						<class>Angara_Recentlysold_Model_Recentlysold_Observer</class>
						<method>salesOrderPlaceAfter</method>
					</recentlysold_salesOrderPlaceAfter>
				</observers>
			</sales_order_place_after>
		</events>
	</global>
</config>
