<?xml version="1.0"?>
<config>
    <modules>
        <Angara_HomePage>
            <version>0.1.0</version>
        </Angara_HomePage>
    </modules>
    <global>
        <blocks>
            <homepage>
                <class>Angara_HomePage_Block</class>
            </homepage>
        </blocks>
        <helpers>
			<homepage>
				<class>Angara_HomePage_Helper</class>
			</homepage>
		</helpers>
    </global>
</config>
