<?xml version="1.0"?>
<config>    
    <modules>
        <Angara_Categoryreveiwadd>
            <version>0.1.0</version>
        </Angara_Categoryreveiwadd>
    </modules>
	<frontend>
		<routers>
			<categoryreveiwadd>
				<use>standard</use>
				<args>
					<module>Angara_Categoryreveiwadd</module>
					<frontName>categoryreveiwadd</frontName>
				</args>
			</categoryreveiwadd>
		</routers>
	</frontend>
	<global>
		<resources>
	        <categoryreveiwadd_write>
	            <connection>
	                <use>core_write</use>
	            </connection>
	        </categoryreveiwadd_write>
	        <categoryreveiwadd_read>
	            <connection>
	                <use>core_read</use>
	            </connection>
	        </categoryreveiwadd_read>
			<categoryreveiwadd_setup>
		        <setup>
		            <module>Angara_Categoryreveiwadd</module>
		            <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		        </setup>
		        <connection>
		            <use>core_setup</use>
		        </connection>
		    </categoryreveiwadd_setup>
	    </resources>
	</global>
</config>