<?xml version="1.0"?>
<config>    
    <modules>
        <Angara_Categoryrelcat>
            <version>0.1.0</version>
        </Angara_Categoryrelcat>
    </modules>
	<frontend>
		<routers>
			<categoryrelcat>
				<use>standard</use>
				<args>
					<module>Angara_Categoryrelcat</module>
					<frontName>categoryrelcat</frontName>
				</args>
			</categoryrelcat>
		</routers>
	</frontend>
	<global>
		<resources>
	        <categoryrelcat_write>
	            <connection>
	                <use>core_write</use>
	            </connection>
	        </categoryrelcat_write>
	        <categoryrelcat_read>
	            <connection>
	                <use>core_read</use>
	            </connection>
	        </categoryrelcat_read>
			<categoryrelcat_setup>
		        <setup>
		            <module>Angara_Categoryrelcat</module>
		            <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		        </setup>
		        <connection>
		            <use>core_setup</use>
		        </connection>
		    </categoryrelcat_setup>
	    </resources>
	</global>
</config>