<?xml version="1.0"?>
<config>
	<modules>
		<Angara_Crossreviews>
			<version>0.0.5</version>
		</Angara_Crossreviews>
	</modules>
	<frontend>
		<routers>
			<crossreviews>
				<use>standard</use>
				<args>
					<module>Angara_Crossreviews</module>
					<frontName>crossreviews</frontName>
				</args>
			</crossreviews>
		</routers>
	
		<layout>
			<updates>
				<crossreviews>
					<file>crossreviews.xml</file>
				</crossreviews>
			</updates>
		</layout>
	</frontend>
	<global>
		<!--<helpers>
			<testimonials>
				<class>Angara_Testimonials_Helper</class>
			</testimonials>
		</helpers>-->
		<blocks>
			<crossreviews>
				<class>Angara_Crossreviews_Block</class>
			</crossreviews>
		</blocks>
		<models>
        	<crossreviews>
            	<class>Angara_Crossreviews_Model</class>
            	<resourceModel>crossreviews_resource</resourceModel>
        	</crossreviews>
			<crossreviews_resource>
            	<class>Angara_Crossreviews_Model_Resource</class>
				<entities>
                	<reviewdetail><table>angara_crossreviews</table></reviewdetail>
					<productvariation><table>angara_product_variation</table></productvariation>
            	</entities>
        	</crossreviews_resource>
    	</models>
		
		<!--<resources>
			<testimonials_setup>
				<setup>
					<module>Angara_Testimonials</module>
					<class>Angara_Testimonials_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</recentlysold_setup>
		</resources>-->
	</global>
</config>
