<?xml version="1.0"?>
<config>
    <modules>
        <Apptha_Popularproduct>
            <version>0.1.0</version>
        </Apptha_Popularproduct>
    </modules>
    <frontend>
        <routers>
            <popularproduct>
                <use>standard</use>
                <args>
                    <module>Apptha_Popularproduct</module>
                    <frontName>popularproduct</frontName>
                </args>
            </popularproduct>
        </routers>
        <layout>
            <updates>
                <popularproduct>
                    <file>popularproduct.xml</file>
                </popularproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<popularproduct>
				<use>admin</use>
				<args>
					<module>Apptha_Popularproduct</module>
					<frontName>popularproduct</frontName>
				</args>
			</popularproduct>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<popularproduct module="popularproduct">
				<title>Popularproduct</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="popularproduct">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>popularproduct/adminhtml_popularproduct</action>
					</items>
				</children>
			</popularproduct>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Apptha_Popularproduct>
							<title>Popularproduct Module</title>
							<sort_order>10</sort_order>
						</Apptha_Popularproduct>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<popularproduct>
					<file>popularproduct.xml</file>
				</popularproduct>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <popularproduct>
                <class>Apptha_Popularproduct_Model</class>
                <resourceModel>popularproduct_mysql4</resourceModel>
            </popularproduct>
            <popularproduct_mysql4>
                <class>Apptha_Popularproduct_Model_Mysql4</class>
                <entities>
                    <popularproduct>
                        <table>popularproduct</table>
                    </popularproduct>
                </entities>
            </popularproduct_mysql4>
        </models>
        <resources>
            <popularproduct_setup>
                <setup>
                    <module>Apptha_Popularproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </popularproduct_setup>
            <popularproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </popularproduct_write>
            <popularproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </popularproduct_read>
        </resources>
        <blocks>
            <popularproduct>
                <class>Apptha_Popularproduct_Block</class>
            </popularproduct>
        </blocks>
        <helpers>
            <popularproduct>
                <class>Apptha_Popularproduct_Helper</class>
            </popularproduct>
        </helpers>
    </global>
</config>