<?xml version="1.0"?>
<config>
    <modules>
		<Angara_Popup>
			<version>0.0.1</version>
		</Angara_Popup>
	</modules>
    <frontend>
        <routers>
            <popup>
                <use>standard</use>
                <args>
                    <module>Angara_Popup</module>
                    <frontName>popup</frontName>
                </args>
            </popup>
        </routers>
        <layout>
            <updates>
                <popup>
                    <file>popup.xml</file>
                </popup>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <popup>
                <class>Angara_Popup_Model</class>
            </popup>            
        </models>
        <resources>
            <popup_setup>                
                <connection>
                    <use>core_setup</use>
                </connection>
            </popup_setup>
            <popup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </popup_write>
            <popup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </popup_read>
        </resources>
		<template>				
		</template>
        <blocks>
            <popup>
                <class>Angara_Popup_Block</class>
            </popup>
        </blocks>
        <helpers>
            <popup>
                <class>Angara_Popup_Helper</class>
            </popup>
        </helpers>
		<events>
			<newsletter_subscriber_event>
				<observers>
				  <angara_newsletter_subscribed>
					<type>singleton</type>
					<class>Angara_Popup_Model_Observer</class>
					<method>newsletterSubscribed</method>
				  </angara_newsletter_subscribed>
				</observers>
			</newsletter_subscriber_event>
		</events>
    </global>	
	<default>
        <popup>
            <general>
                <active>1</active>
            </general>            
        </popup>
    </default>
</config>