<?xml version="1.0"?>
<config>
	<modules>
		<Angara_CustomerStory>
			<version>0.1.1</version>
		</Angara_CustomerStory>
	</modules>
	<frontend>
		<routers>
			<customerstory>
				<use>standard</use>
				<args>
					<module>Angara_CustomerStory</module>
					<frontName>customerstory</frontName>
				</args>
			</customerstory>
		</routers>
		<layout>
			<updates>
				<customerstory>
					<file>customerstory.xml</file>
				</customerstory>
			</updates>
		</layout>
	</frontend>
	<global>
		<helpers>
			<customerstory>
				<class>Angara_CustomerStory_Helper</class>
			</customerstory>
		</helpers>
		<blocks>
			<customerstory>
				<class>Angara_CustomerStory_Block</class>
			</customerstory>
		</blocks>
		<models>
			<customerstory>
				<class>Angara_CustomerStory_Model</class>
				<resourceModel>customerstory_mysql4</resourceModel>
			</customerstory>
			<customerstory_mysql4>
				<class>Angara_CustomerStory_Model_Mysql4</class>
				<entities>		  
					<story>
						<table>customer_story</table>
					</story>
				</entities>
			</customerstory_mysql4>
		</models>
		<resources>
			<customerstory_setup>
				<setup>
					<module>Angara_CustomerStory</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</customerstory_setup>
			<customerstory_write>
				<connection>
					<use>core_write</use>
				</connection>
			</customerstory_write>
			<customerstory_read>
				<connection>
					<use>core_read</use>
				</connection>
			</customerstory_read>
		</resources>
	</global>
	<admin>
		<routers>
			<customerstory>
				<use>admin</use>
				<args>
					<module>Angara_CustomerStory</module>
					<frontName>admin_customerstory</frontName>
				</args>
			</customerstory>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<customer>
				<children>
					<customerstory module="customerstory">
						<title>Manage Shared Story</title>
						<sort_order>1000</sort_order>
						<action>admin_customerstory/adminhtml_story</action>
						<!--<children>
							<story module="customerstory">
								<title>Manage Story</title>
								<sort_order>0</sort_order>
								<action>admin_customerstory/adminhtml_story</action>
							</story>
						</children>-->
					</customerstory>
				</children>
			</customer>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<customer>
							<children>
								<customerstory translate="title" module="customerstory">
									<title>CustomerStory</title>
									<sort_order>1000</sort_order>
									<children>
										<story translate="title">
											<title>Manage Story</title>
											<sort_order>0</sort_order>
										</story>
									</children>
								</customerstory>
							</children>
						</customer>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<customerstory>
					<file>customerstory.xml</file>
				</customerstory>
			</updates>
		</layout>
	</adminhtml>
	<crontab>
        <jobs>
			<share_story_email>
                <schedule><cron_expr>* * * * *</cron_expr></schedule>
                <run><model>customerstory/cron::processShareStoryEmail</model></run>
            </share_story_email>
		</jobs>
    </crontab>
</config> 