<?xml version="1.0"?>
<config>
  <modules>
    <Angara_FlashSale>
      <version>0.1.0</version>
    </Angara_FlashSale>
  </modules>
  <frontend>
    <routers>
      <flashsale>
        <use>standard</use>
          <args>
            <module>Angara_FlashSale</module>
            <frontName>flashsale</frontName>
          </args>
      </flashsale>
    </routers>
		<layout>
		  <updates>
			<flashsale>
			  <file>flashsale.xml</file>
			</flashsale>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <flashsale>
        <class>Angara_FlashSale_Helper</class>
      </flashsale>
    </helpers>
	<blocks>
	  <flashsale>
		<class>Angara_FlashSale_Block</class>
	  </flashsale>
	</blocks>
	<models>
	  <flashsale>
		<class>Angara_FlashSale_Model</class>
		<resourceModel>flashsale_mysql4</resourceModel>
	  </flashsale>
	  <flashsale_mysql4>
		<class>Angara_FlashSale_Model_Mysql4</class>
		<entities>		  
			  <flashsale>
				<table>flashsale</table>
			  </flashsale>
        </entities>
	  </flashsale_mysql4>
	</models>
	<resources>
	  <flashsale_setup>
		<setup>
		  <module>Angara_FlashSale</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </flashsale_setup>
	  <flashsale_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </flashsale_write>
	  <flashsale_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </flashsale_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <flashsale>
	    <use>admin</use>
		<args>
		  <module>Angara_FlashSale</module>
		  <frontName>admin_flashsale</frontName>
		</args>
	  </flashsale>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <flashsale module="flashsale">
		<title>FlashSale</title>
		<sort_order>100</sort_order>
		<depends>
			<config>angarainfo/flashsale_settings/enabled</config>
		</depends>
		<children>
		  <flashsale module="flashsale">
		    <title>Manage Flashsale</title>
			<sort_order>0</sort_order>
			<action>admin_flashsale/adminhtml_flashsale</action>
		  </flashsale>
		</children>
	  </flashsale>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<flashsale translate="title" module="flashsale">
			  <title>FlashSale</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <flashsale translate="title">
			<title>Manage Flashsale</title>
			<sort_order>0</sort_order>
		  </flashsale>
			  </children>
			</flashsale>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<flashsale>
		  <file>flashsale.xml</file>
		</flashsale>
	  </updates>
	</layout>
  </adminhtml>
</config> 